/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 600px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.todoList {
  list-style: none;
}

.todoList li {
  padding: 12px;
  border: 1px solid red;
  border-radius: 4px;
  margin-bottom: 6px;
  border: 1px solid #ccc;
  font-weight: bold;
  cursor: pointer;
}

.todoList li span {
  float: right;
  position: relative;
  top: 1px;
}

.todoList li.completed {
  background-color: #eee;
  color: #999;
  border: 1px solid #ccc;
  text-decoration: line-through;
}

header {
  text-align: center;
  padding: 12px 0;
  font-weight: bold;
  background-color: #e53935;
  border-bottom: 12px solid #ab000d;
  margin-bottom: 1em;
}

header h1 {
  font-size: 3em;
  color: #fff;
}

input {
  padding: 6px;
  font-weight: bold;
  border-radius: 4px;
  width: 520px;
  border: 1px solid #ccc;
  font-size: 1.2em;
}

button {
  padding: 6px;
  float: right;
  border-radius: 4px;
  font-size: 1.2em;
  background-color: #e53935;
  border: 1px solid #e53935;
  color: #fff;
  font-weight: bold;
  box-shadow: 2px 2px 6px rgba(0,0,0,.2);
}

button:hover {
  background-color: #ab000d;
  border: 1px solid #ab000d;
  box-shadow: 1px 1px 3px rgba(0,0,0,.2);
}

form {
  margin-bottom: 1em;
}